<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ESIR.games">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Games">


        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity android:name=".InitActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Multiplayer.MultiSetUp"/>
        <activity android:name=".Multiplayer.MultiRooms" />
        <activity android:name=".BallGame.BallStarterActivity" />
        <activity android:name=".BallGame.BallMainActivity" />
        <activity android:name=".BallGame.BallResultActivity" />
        <activity android:name=".PenduGame.PenduMainActivity" />
        <activity android:name=".PingPongGame.PingPongMainActivity" />
        <activity android:name=".QuizzGame.QuizzStarterActivity" />
        <activity android:name=".QuizzGame.QuizzMainActivity" />
        <activity android:name=".TicTacToeGame.TicTacToeMainActivity" />
        <activity android:name=".FinalActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".Multiplayer.MultiResult" />
        <activity android:name=".TrainingActivity"/>
    </application>

</manifest>